/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0; padding: 0; 
  transition: 0.175s ease-in-out;
}

a{text-decoration: none; list-style-type: none;}

h1{
  font-family: 'Merriweather', sans-serif;
  font-size: 2em;
  margin: 0.67em 0;
}

h2{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  color: #BF0029;
  line-height: 1.3333333333em;
  margin: 0 0 .5em 0;
}

h3{
  font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.375em;
  font-style: normal;
  line-height: 1.27273em;
  margin-bottom: 0.5454545455em;
  color: #00263D;
  margin-bottom: .5em;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin: 0 0 1.75em;
  font-weight: 400;
  color: #00263D;
}

header{
  background: url(https://www.gemeentemaastricht.nl/sites/default/files/styles/large_9_4_2x/public/2019-11/gemeente%20Maastricht%20compositiefoto.jpg);
  background-size: cover;
  background-position: center;
  height: 50vw;
  max-height: 20em;
}

main{
  max-width: 72em;
  margin: 0 auto;
}

/* ==================================
      SECTION: SECUNDAIR MENU
================================== */

section{margin-bottom: 2em; padding: 0 1.5em;}
section:first-of-type{margin-top: -1em;}

ul{
  list-style-type: none;
  position: relative;
}

section:first-of-type > ul >  li > a{
  width: 100%;
  min-height: 4em;
  background: #00263D;
  color: white;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.188em;
  padding: .781em 2.5em .781em 1.188em;
  margin: 0 0 .5em 0;
  display: flex;
  align-items: center;
  border-radius: .225em;
  transition: transform 0.175s ease-in-out,-webkit-transform 0.175s ease-in-out;
}

section:first-of-type > ul > li > a:hover{
  transform: translateY(-.5em);
  background: rgb(217,70,38);
  background: linear-gradient(90deg, rgba(217,70,38,1) 0%, rgba(191,1,41,1) 100%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
  margin-bottom: .5em;
}

/* ==================================
      SECTION: ONDERWERPEN
================================== */
section:nth-of-type(2) > ul >  li > a{
  font-size: 1.063em;
  font-family: 'Merriweather', sans-serif;
  width: 100%;
  padding: 10px 2.5em 10px 0;
  margin: 0 0 .375em 0;
  display: flex;
  transition: transform 0.175s ease-in-out;
  border-bottom: .125em solid #EBEEF0;
  color: #0055b7;
  position: relative;
}

section:nth-of-type(2) > ul > li > a:hover{color: #BF0029;}

section:nth-of-type(2) > ul >  li > a::after{
  content: url(../images/arrow.svg);
  right: 1em;
  position: absolute;
  transition: 0.175s ease-in-out;
}

section:nth-of-type(2) > ul >  li > a:hover::after{content: url(../images/arrow_hov.svg); right: .5em;}

/* ==================================
      SECTION: RAADSAVOND
================================== */
section:nth-of-type(3){
  background: url(https://www.gemeentemaastricht.nl/sites/default/files/styles/visual_highlight/public/2019-09/is_highlight.jpg?itok=6gXbj0B9);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
  max-height: 18em;
  position: relative;
  padding-top: 7em;
  margin-bottom: 2em;
}

section:nth-of-type(3) > article{
  background: white;
  box-shadow: 0 0 1.5625em 0 rgba(0,0,0,0.4);
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: calc(2.8125em - 25px);
  padding: 2em 1.875em calc(2.5em - 1.75em);
  float: right;
  max-width: 450px;
  border-radius: 0.375rem 0.375rem 0 0;
}

/* ==================================
      SECTION: ACTUEEL
================================== */
section:last-of-type > article > img{
  width: 100%;
  height: auto;
}

section:last-of-type > article > span{
  color: #0055b7;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1em;
  padding: .75em 0;
  display: block;
  transition: 0.175s ease-in-out;
}

section:last-of-type > article > span::after{
  content: url(../images/arrow.svg);
  right: 2.5em;
  position: absolute;
  transition: 0.175s ease-in-out;
}

section:last-of-type > article:hover{
  color: #BF0029;
  cursor: pointer;
}

section:last-of-type > article:hover > span{color: #BF0029;}
section:last-of-type > article:hover > span::after{content: url(../images/arrow_hov.svg); right: 1.75em;}
section:last-of-type > article:hover > h3{color: #BF0029;}

/* ==================================
      FOOTER
================================== */
footer{
  background: #00263D;
  padding: 2em;
}

footer p, footer a{
  color: white;

nav{
  width: 100%;
  background: white;
  padding: .5em;
  display: flex;
  justify-content: center;
}

nav > img{
  height: 3.75em;
}